[                                  L - I -  S -  T                        ]

append()    	Adds an element at the end of the list

clear()	        Removes all the elements from the list

copy()      	Returns a copy of the list

count()     	Returns the number of elements with the specified value

extend()    	Add the elements of a list (or any iterable), to the end of the current list

index()	        Returns the index of the first element with the specified value

insert()    	Adds an element at the specified position

pop()	        Removes the element at the specified position

remove()       	Removes the item with the specified value

reverse()   	Reverses the order of the list
	
sort()          Sorts the list

.

.

{                A  C   C   E   S   S    --       I   T   E   M   S                  }

In [90]:
course = ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[1])

sql

Negative  --  INDEX

In [91]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[-1])

wipro

RANGE --  OF --  INDEXING

In [92]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[1:6])

['sql ', 'stats', 'algo', 'execl', 'tcs']

In [93]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[:6])

['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs']

In [94]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[5:])

['tcs', 'inforsys', 'wipro']

In [95]:
course = ['python ', 'sql ', 'stats']

print(course[:])

['python ', 'sql ', 'stats']

{       R   a   n   g   e    --    o  f     --      N   e  g   a   t   i   v   e        --      I   N   D   E   X           }

In [96]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[-5:-3])

['algo', 'execl']

In [97]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[-5:])

['algo', 'execl', 'tcs', 'inforsys', 'wipro']

In [98]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
print(course[:-5])

['python ', 'sql ', 'stats']

{                C  H   A   N   G   E       --     I   T   E   M     --      V  A   L   U   E                    }

In [3]:
course = ['python ', 'sql ', 'stats']

course[1:2]  = ['data science','inforsys', 'wipro']

print(course)

['python ', 'data science', 'inforsys', 'wipro', 'stats']

CHANGE --  SINGLE --  ITEM (DATA)  --  WITH -- MULTI -- DATA

In [100]:
course = ['python ', 'sql ', 'stats']

course[1:2]  = ['data science','inforsys', 'wipro']

print(course)

['python ', 'data science', 'inforsys', 'wipro', 'stats']

In [101]:
course = ['python ', 'sql ', 'stats']

course[0:]  = ['data science','inforsys', 'wipro']

print(course)

['data science', 'inforsys', 'wipro']

In [102]:
course = ['python ', 'sql ', 'stats']

course[]  = ['data science','inforsys', 'wipro']

print(course)

SyntaxError: invalid syntax (239321833.py, line 3)

In [88]:
course = ['python ', 'sql ', 'stats']

course[:]  = ['data science','inforsys', 'wipro']

print(course)

['data science', 'inforsys', 'wipro']

{               S   O   R   T       --     M  E   T   H   O   D                       }

In [2]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
course.sort()

print(course)

['algo', 'execl', 'inforsys', 'python ', 'sql ', 'stats', 'tcs', 'wipro']

{                S  O   R   T   --   M  E   T   H   O   D   --   W  I   T   H  --    R  E   V   E   R  S    E                    }

In [74]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
course.sort(reverse = True)
print(course)

['wipro', 'tcs', 'stats', 'sql ', 'python ', 'inforsys', 'execl', 'algo']

{               C   O   P   Y                }

In [75]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
listcop = course.copy()
print(course)
print(listcop)

['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']

{               C   O   P   Y   --   W  I   T   H    --     L   I   S   T    --     M   E   T   H  O    D                  }

In [76]:
course =  ['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']
listco = list(course) 
print(listco)

['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']

ADD TO LIST IN THIRD VAR OR LIST

In [79]:
course = ['python ', 'sql ', 'stats']
company=['tcs','inforsys','wipro']
lists =  course +  company

print(lists)

['python ', 'sql ', 'stats', 'tcs', 'inforsys', 'wipro']

{                A P P E N D               }

In [80]:
#append             # add in last row

course.append('execl')
print(course)

['python ', 'sql ', 'stats', 'execl']

{                I  N   S   E   R  T              }

In [81]:
#   insert data in the possiton index number 

course.insert(3,'algo')
print(course)

['python ', 'sql ', 'stats', 'algo', 'execl']

.

In [82]:
# second list 
course = ['python ', 'sql ', 'stats', 'algo', 'execl']

company=['tcs','inforsys','wipro']
print(company)

['tcs', 'inforsys', 'wipro']

{                    E  X   T   E   N   D                 }

In [83]:
#       connect two list in one list 
#  course +  compay   ( company data add in course list +)

course.extend(company)
print(course)

['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']

{                   R  E   M   O   V   E                 }

In [84]:
# remove   ( remove that item from the  list )

course =['python ', 'sql ', 'stats', 'algo', 'algo', 'execl', 'execl', 'tcs', 'inforsys', 'wipro']

course.remove('execl')
print(course)

['python ', 'sql ', 'stats', 'algo', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']

{                               P --  O  --  P                               }

In [85]:
#  pop(_)        (   remove   that    element     that    item    from    list   )
course.pop(3)
print(course)

['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys', 'wipro']

In [86]:
#  pop()        (   remove   last   element    from    list   )

course.pop()
print(course)

['python ', 'sql ', 'stats', 'algo', 'execl', 'tcs', 'inforsys']